@charset "utf-8";
@import url(/src/ui/components/avatar/avatar.css);
/* display:inline-block */
.case-01 {
	background-color: yellow;
	margin: 20px;
	border: 2px solid red;
	border-radius: 4px;

	ul {
		width: 22.5rem;
		font-size: 0;
		background-color: pink;
		padding: 10px;
		margin: 0 auto;
	}

	li {
		font-size: 1rem;
		/*<li>는 display: inline;일경우, 
    일반적으로 내부 요소 크기만큼만 차지해야 합니다.
    이때 <figure>가 부모보다 크거나, 자체적으로 너비를 가지면 
    <li>가 줄바꿈되면서 블록처럼 보이게 됩니다. */
		display: inline-block;
		background-color: lime;
		margin: 10px;
	}
}

/* float: */
.case-02 {
	background-color: yellow;
	margin: 20px;
	border: 2px solid red;
	border-radius: 4px;

	ul {
		width: 22.5rem;
		font-size: 0;
		background-color: pink;
		padding: 10px;
		margin: 0 auto;
		/* display: flow-root; */
		overflow: hidden;
	}

	li {
		font-size: 1rem;
		background-color: lime;
		margin: 10px;
		float: left;
	}
}
/* case 03 - flex  */

/* case 04 - grid */
