@import url(/src/common/best-reset.css);
.bannerWrap {
	--sky-blue: #bae5fb;
	width: 100%;
	height: 300px;
	border: 1px solid #000;
	.topBanner {
		width: 100%;
		height: 50%;
		background-color: var(--sky-blue);
	}
}
