* {
	margin: 0;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	text-decoration: none;
	color: #24388d;
}

.header {
	width: 100%;
	background-color: #fefefe;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: flow-root;
	font-size: 16px;

	.header-wrap {
		width: fit-content;
		min-width: 70%;
		margin: 0 auto;
		display: flow-root;
		padding: 18px 0;
		position: relative;
		font-size: 16px;

		.logo {
			float: left;
			width: 8.75em;
			padding-top: 10px;
			img {
				width: 100%;
				display: block;
			}
		}
		&::after {
			content: '';
			clear: both;
			display: inline-block;
		}
	}

	.header-logo {
		font-size: 1rem;
		vertical-align: middle;
	}

	.top-menu {
		float: right;
		padding: 14px 0;
		box-sizing: border-box;
	}

	.top-menu-item {
		float: left;
		margin-right: 8px;
		list-style: none;
	}

	.top-menu-link {
		font-size: 15px;
	}

	.top-menu-item:last-child {
		margin: 0;
	}
}

.newsNav {
	width: fit-content;
	margin: 50px auto;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	background-color: #f5f5f5;
	padding: 2.167px 1.946px;

	.newsBtn {
		border: none;
		background-color: #ffffff;
		padding: 5.5px 31.405px 6.167px 31px;
		margin-left: 3px;

		&.isActive {
			background-color: #24388d;
			color: #fff;
		}
	}
}
